<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsinghua.analysis.dao.IDataAnalysisDao">
	<resultMap id="BaseResultMap" type="com.tsinghua.analysis.model.DataAnalysis">
		<id column="DA_ID" property="daId" jdbcType="DECIMAL" />
		<result column="SCREEN_RESOLUTION_LONG" property="screenResolutionLong"
			jdbcType="VARCHAR" />
		<result column="SCREEN_RESOLUTION_WIDTH" property="screenResolutionWidth"
			jdbcType="VARCHAR" />
		<result column="VIDEO_CLARITY" property="videoClarity"
			jdbcType="VARCHAR" />
		<result column="VIDEO_CODING_FORMAT" property="videoCodingFormat"
			jdbcType="VARCHAR" />
		<result column="VIDEO_BITRATE" property="videoBitrate"
			jdbcType="VARCHAR" />
		<result column="BUFFERING_DELAY" property="bufferingDelay"
			jdbcType="VARCHAR" />
		<result column="VIDEO_PEAK_RATE" property="videoPeakRate"
			jdbcType="VARCHAR" />
		<result column="VIDEO_KA_NUM" property="videoKaNum" jdbcType="VARCHAR" />
		<result column="VIDEO_KA_TOTAL_TIME" property="videoKaTotalTime"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_PROPORTION" property="kaDurationProportion"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_ONE" property="kaDurationLongOne"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_ONE" property="kaDurationLongPointOne"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_TWO" property="kaDurationLongTwo"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_TWO" property="kaDurationLongPointTwo"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_THREE" property="kaDurationLongThree"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_THREE" property="kaDurationLongPointThree"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_FOUR" property="kaDurationLongFour"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_FOUR" property="kaDurationLongPointFour"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_FIVE" property="kaDurationLongFive"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_FIVE" property="kaDurationLongPointFive"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_SIX" property="kaDurationLongSix"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_SIX" property="kaDurationLongPointSix"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_SEVEN" property="kaDurationLongSeven"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_SEVEN" property="kaDurationLongPointSeven"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_EIGHT" property="kaDurationLongEight"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_EIGHT" property="kaDurationLongPointEight"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_NINE" property="kaDurationLongNine"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_NINE" property="kaDurationLongPointNine"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_TEN" property="kaDurationLongTen"
			jdbcType="VARCHAR" />
		<result column="KA_DURATION_LONG_POINT_TEN" property="kaDurationLongPointTen"
			jdbcType="VARCHAR" />
		<result column="VIDEO_TOTAL_TIME" property="videoTotalTime"
			jdbcType="VARCHAR" />
		<result column="VIDEO_PLAY_TOTAL_TIME" property="videoPlayTotalTime"
			jdbcType="VARCHAR" />
		<result column="VIDEO_ALL_PEAK_RATE" property="videoAllPeakRate"
			jdbcType="VARCHAR" />
		<result column="VIDEO_AVERAGE_PEAK_RATE" property="videoAveragePeakRate"
			jdbcType="VARCHAR" />
		<result column="LIGHT_INTENSITY" property="lightIntensity"
			jdbcType="VARCHAR" />
		<result column="PHONE_SCREEN_BRIGHTNESS" property="phoneScreenBrightness"
			jdbcType="VARCHAR" />
		<result column="PHONE_PLACE_STATE" property="phonePlaceState"
			jdbcType="VARCHAR" />
		<result column="ENVIRONMENTAL_NOISE" property="environmentalNoise"
			jdbcType="VARCHAR" />
		<result column="NETWORK_TYPE" property="networkType" jdbcType="VARCHAR" />
		<result column="PHONE_ELECTRIC_START" property="phoneElectricStart"
			jdbcType="VARCHAR" />
		<result column="PHONE_ELECTRIC_END" property="phoneElectricEnd"
			jdbcType="VARCHAR" />
		<result column="SIGNAL_STRENGTH" property="signalStrength"
			jdbcType="VARCHAR" />
		<result column="PHONE_VERSION" property="phoneVersion"
			jdbcType="VARCHAR" />
		<result column="OPERATING_SYSTEM" property="operatingSystem"
			jdbcType="VARCHAR" />
		<result column="GPS_LONGITUDE_ONE" property="gpsLongitudeOne"
			jdbcType="VARCHAR" />
		<result column="GPS_LATITUDE_ONE" property="gpsLatitudeOne"
			jdbcType="VARCHAR" />
		<result column="GPS_LONGITUDE_TWO" property="gpsLongitudeTwo"
			jdbcType="VARCHAR" />
		<result column="GPS_LATITUDE_TWO" property="gpsLatitudeTwo"
			jdbcType="VARCHAR" />
		<result column="GPS_LONGITUDE_THREE" property="gpsLongitudeThree"
			jdbcType="VARCHAR" />
		<result column="GPS_LATITUDE_THREE" property="gpsLatitudeThree"
			jdbcType="VARCHAR" />
		<result column="GPS_LONGITUDE_FOUR" property="gpsLongitudeFour"
			jdbcType="VARCHAR" />
		<result column="GPS_LATITUDE_FOUR" property="gpsLatitudeFour"
			jdbcType="VARCHAR" />
		<result column="GPS_LONGITUDE_FIVE" property="gpsLongitudeFive"
			jdbcType="VARCHAR" />
		<result column="GPS_LATITUDE_FIVE" property="gpsLatitudeFive"
			jdbcType="VARCHAR" />
		<result column="ACCELEROMETER_DATA" property="accelerometerData"
			jdbcType="VARCHAR" />
		<result column="INSTAN_DOWNLOAD_SPEED" property="instanDownloadSpeed"
			jdbcType="VARCHAR" />
		<result column="USER_SCORE" property="userScore" jdbcType="VARCHAR" />
		<result column="SAVEDATE" property="saveDate" jdbcType="TIMESTAMP" />
		<result column="USER_TEL" property="userTel" jdbcType="VARCHAR" />
		<result column="ELOADING" property="Eloading" jdbcType="VARCHAR" />
		<result column="ESTALLING" property="Estalling" jdbcType="VARCHAR" />
		<result column="EVMOS" property="EvMos" jdbcType="VARCHAR" />
		<result column="CID" property="cid" jdbcType="VARCHAR" />
		<result column="LAC" property="lac" jdbcType="VARCHAR" />
		<result column="USERSCENE" property="userScene" jdbcType="VARCHAR" />
		<result column="VIDEO_SERVER_IP" property="videoServerIp"
			jdbcType="VARCHAR" />
		<result column="VIDEO_SERVER_LOCATION" property="videoServerLocation"
			jdbcType="VARCHAR" />
		<result column="COUNTRY" property="country" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
		<result column="CITY" property="city" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="UE_INTERNAL_IP" property="ueInternalIp"
			jdbcType="VARCHAR" />
		<result column="ELIGHT" property="elight" jdbcType="VARCHAR" />
		<result column="ESTATE" property="estate" jdbcType="VARCHAR" />
		<result column="PLMN" property="plmn" jdbcType="VARCHAR" />
		<result column="IMSI" property="imsi" jdbcType="VARCHAR" />
		<result column="UDID" property="udid" jdbcType="VARCHAR" />
		<result column="MCC" property="mcc" jdbcType="VARCHAR" />
		<result column="MNC" property="mnc" jdbcType="VARCHAR" />
		<result column="CELL_SIGNAL_STRENGTH" property="cellSignalStrength"
			jdbcType="VARCHAR" />
		<result column="SINR" property="sinr" jdbcType="VARCHAR" />
		<result column="PING_AVG_RTT" property="pingAvgRtt" jdbcType="VARCHAR" />
		<result column="CARRIER" property="carrier" jdbcType="VARCHAR" />
		<result column="LCID" property="lcid" jdbcType="VARCHAR" />
		<result column="ENODEB_ID" property="enodebId" jdbcType="VARCHAR" />
		<result column="PLAY_WAY" property="playWay" jdbcType="VARCHAR" />
		<result column="STARTTIME" property="startTime" jdbcType="TIMESTAMP" />
		<result column="VIDEOSIZE" property="videoSize" jdbcType="VARCHAR" />
		<result column="VIDEONAME" property="videoName" jdbcType="VARCHAR" />
		<result column="userBufferTime" property="userBufferTime"
			jdbcType="VARCHAR" />
		<result column="SCORESUGGEST" property="scoreSuggest" jdbcType="VARCHAR" />
		<result column="DISPLAY" property="display" jdbcType="VARCHAR" />
		<result column="FORECASTSCORE" property="forecastScore"
			jdbcType="VARCHAR" />
		<result column="NETWORKSTATUS" property="networkStatus"
			jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="com.tsinghua.analysis.model.DataAnalysis">
		insert into DATAANALYSIS
		(DA_ID, SCREEN_RESOLUTION_LONG,
		SCREEN_RESOLUTION_WIDTH,
		VIDEO_CLARITY,
		VIDEO_CODING_FORMAT, VIDEO_BITRATE,
		BUFFERING_DELAY, VIDEO_PEAK_RATE,
		VIDEO_KA_NUM,
		VIDEO_KA_TOTAL_TIME, KA_DURATION_PROPORTION,
		KA_DURATION_LONG_ONE, KA_DURATION_LONG_POINT_ONE,
		KA_DURATION_LONG_TWO, KA_DURATION_LONG_POINT_TWO,
		KA_DURATION_LONG_THREE, KA_DURATION_LONG_POINT_THREE,
		KA_DURATION_LONG_FOUR, KA_DURATION_LONG_POINT_FOUR,
		KA_DURATION_LONG_FIVE, KA_DURATION_LONG_POINT_FIVE,
		KA_DURATION_LONG_SIX, KA_DURATION_LONG_POINT_SIX,
		KA_DURATION_LONG_SEVEN, KA_DURATION_LONG_POINT_SEVEN,
		KA_DURATION_LONG_EIGHT, KA_DURATION_LONG_POINT_EIGHT,
		KA_DURATION_LONG_NINE, KA_DURATION_LONG_POINT_NINE,
		KA_DURATION_LONG_TEN, KA_DURATION_LONG_POINT_TEN,
		VIDEO_TOTAL_TIME,
		VIDEO_PLAY_TOTAL_TIME, VIDEO_ALL_PEAK_RATE,
		VIDEO_AVERAGE_PEAK_RATE,
		LIGHT_INTENSITY, PHONE_SCREEN_BRIGHTNESS,
		PHONE_PLACE_STATE,
		ENVIRONMENTAL_NOISE, NETWORK_TYPE,
		PHONE_ELECTRIC_START,
		PHONE_ELECTRIC_END, SIGNAL_STRENGTH,
		PHONE_VERSION, OPERATING_SYSTEM,
		GPS_LONGITUDE_ONE,
		GPS_LATITUDE_ONE, GPS_LONGITUDE_TWO,
		GPS_LATITUDE_TWO,
		GPS_LONGITUDE_THREE, GPS_LATITUDE_THREE,
		GPS_LONGITUDE_FOUR,
		GPS_LATITUDE_FOUR, GPS_LONGITUDE_FIVE,
		GPS_LATITUDE_FIVE,
		ACCELEROMETER_DATA, INSTAN_DOWNLOAD_SPEED,
		USER_SCORE, SAVEDATE, USER_TEL,
		ELOADING, ESTALLING, EVMOS, CID,
		LAC,
		USERSCENE, VIDEO_SERVER_IP,
		VIDEO_SERVER_LOCATION, COUNTRY, PROVINCE,
		CITY, ADDRESS, UE_INTERNAL_IP,
		ELIGHT, ESTATE, PLMN,
		IMSI, UDID, MCC,
		MNC,
		CELL_SIGNAL_STRENGTH, SINR, PING_AVG_RTT,
		CARRIER, LCID,
		ENODEB_ID,
		PLAY_WAY, STARTTIME,
		VIDEOSIZE, VIDEONAME,
		USERBUFFERTIME,SCORESUGGEST,DISPLAY,FORECASTSCORE,NETWORKSTATUS)
		values (#{daId,jdbcType=VARCHAR},
		#{screenResolutionLong,jdbcType=VARCHAR},
		#{screenResolutionWidth,jdbcType=VARCHAR},
		#{videoClarity,jdbcType=VARCHAR},
		#{videoCodingFormat,jdbcType=VARCHAR},
		#{videoBitrate,jdbcType=VARCHAR},
		#{bufferingDelay,jdbcType=VARCHAR},
		#{videoPeakRate,jdbcType=VARCHAR}, #{videoKaNum,jdbcType=VARCHAR},
		#{videoKaTotalTime,jdbcType=VARCHAR},
		#{kaDurationProportion,jdbcType=VARCHAR},
		#{kaDurationLongOne,jdbcType=VARCHAR},
		#{kaDurationLongPointOne,jdbcType=VARCHAR},
		#{kaDurationLongTwo,jdbcType=VARCHAR},
		#{kaDurationLongPointTwo,jdbcType=VARCHAR},
		#{kaDurationLongThree,jdbcType=VARCHAR},
		#{kaDurationLongPointThree,jdbcType=VARCHAR},
		#{kaDurationLongFour,jdbcType=VARCHAR},
		#{kaDurationLongPointFour,jdbcType=VARCHAR},
		#{kaDurationLongFive,jdbcType=VARCHAR},
		#{kaDurationLongPointFive,jdbcType=VARCHAR},
		#{kaDurationLongSix,jdbcType=VARCHAR},
		#{kaDurationLongPointSix,jdbcType=VARCHAR},
		#{kaDurationLongSeven,jdbcType=VARCHAR},
		#{kaDurationLongPointSeven,jdbcType=VARCHAR},
		#{kaDurationLongEight,jdbcType=VARCHAR},
		#{kaDurationLongPointEight,jdbcType=VARCHAR},
		#{kaDurationLongNine,jdbcType=VARCHAR},
		#{kaDurationLongPointNine,jdbcType=VARCHAR},
		#{kaDurationLongTen,jdbcType=VARCHAR},
		#{kaDurationLongPointTen,jdbcType=VARCHAR},
		#{videoTotalTime,jdbcType=VARCHAR},
		#{videoPlayTotalTime,jdbcType=VARCHAR},
		#{videoAllPeakRate,jdbcType=VARCHAR},
		#{videoAveragePeakRate,jdbcType=VARCHAR},
		#{lightIntensity,jdbcType=VARCHAR},
		#{phoneScreenBrightness,jdbcType=VARCHAR},
		#{phonePlaceState,jdbcType=VARCHAR},
		#{environmentalNoise,jdbcType=VARCHAR},
		#{networkType,jdbcType=VARCHAR},
		#{phoneElectricStart,jdbcType=VARCHAR},
		#{phoneElectricEnd,jdbcType=VARCHAR},
		#{signalStrength,jdbcType=VARCHAR},
		#{phoneVersion,jdbcType=VARCHAR},
		#{operatingSystem,jdbcType=VARCHAR},
		#{gpsLongitudeOne,jdbcType=VARCHAR},
		#{gpsLatitudeOne,jdbcType=VARCHAR},
		#{gpsLongitudeTwo,jdbcType=VARCHAR},
		#{gpsLatitudeTwo,jdbcType=VARCHAR},
		#{gpsLongitudeThree,jdbcType=VARCHAR},
		#{gpsLatitudeThree,jdbcType=VARCHAR},
		#{gpsLongitudeFour,jdbcType=VARCHAR},
		#{gpsLatitudeFour,jdbcType=VARCHAR},
		#{gpsLongitudeFive,jdbcType=VARCHAR},
		#{gpsLatitudeFive,jdbcType=VARCHAR},
		#{accelerometerData,jdbcType=VARCHAR},
		#{instanDownloadSpeed,jdbcType=VARCHAR},
		#{userScore,jdbcType=VARCHAR}, #{saveDate,jdbcType=TIMESTAMP},
		#{userTel,jdbcType=VARCHAR},
		#{Eloading,jdbcType=VARCHAR},
		#{Estalling,jdbcType=VARCHAR}, #{EvMos,jdbcType=VARCHAR},
		#{cid,jdbcType=VARCHAR},
		#{lac,jdbcType=VARCHAR},
		#{userScene,jdbcType=VARCHAR}, #{videoServerIp,jdbcType=VARCHAR},
		#{videoServerLocation,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{ueInternalIp,jdbcType=VARCHAR},
		#{elight,jdbcType=VARCHAR}, #{estate,jdbcType=VARCHAR},
		#{plmn,jdbcType=VARCHAR},
		#{imsi,jdbcType=VARCHAR},
		#{udid,jdbcType=VARCHAR}, #{mcc,jdbcType=VARCHAR},
		#{mnc,jdbcType=VARCHAR},
		#{cellSignalStrength,jdbcType=VARCHAR},
		#{sinr,jdbcType=VARCHAR}, #{pingAvgRtt,jdbcType=VARCHAR},
		#{carrier,jdbcType=VARCHAR},
		#{lcid,jdbcType=VARCHAR},
		#{enodebId,jdbcType=VARCHAR},
		#{playWay,jdbcType=VARCHAR},
		#{startTime,jdbcType=TIMESTAMP},
		#{videoSize,jdbcType=VARCHAR},
		#{videoName,jdbcType=VARCHAR},
		#{userBufferTime,jdbcType=VARCHAR},
		#{scoreSuggest,jdbcType=VARCHAR},
		#{display,jdbcType=VARCHAR},
		#{forecastScore,jdbcType=VARCHAR},
		#{networkStatus,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.tsinghua.analysis.model.DataAnalysis">
		insert into DATAANALYSIS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="daId != null">
				DA_ID,
			</if>
			<if test="screenResolutionLong != null">
				SCREEN_RESOLUTION_LONG,
			</if>
			<if test="screenResolutionWidth != null">
				SCREEN_RESOLUTION_WIDTH,
			</if>
			<if test="videoClarity != null">
				VIDEO_CLARITY,
			</if>
			<if test="videoCodingFormat != null">
				VIDEO_CODING_FORMAT,
			</if>
			<if test="videoBitrate != null">
				VIDEO_BITRATE,
			</if>
			<if test="bufferingDelay != null">
				BUFFERING_DELAY,
			</if>
			<if test="videoPeakRate != null">
				VIDEO_PEAK_RATE,
			</if>
			<if test="videoKaNum != null">
				VIDEO_KA_NUM,
			</if>
			<if test="videoKaTotalTime != null">
				VIDEO_KA_TOTAL_TIME,
			</if>
			<if test="kaDurationProportion != null">
				KA_DURATION_PROPORTION,
			</if>
			<if test="kaDurationLongOne != null">
				KA_DURATION_LONG_ONE,
			</if>
			<if test="kaDurationLongPointOne != null">
				KA_DURATION_LONG_POINT_ONE,
			</if>
			<if test="kaDurationLongTwo != null">
				KA_DURATION_LONG_TWO,
			</if>
			<if test="kaDurationLongPointTwo != null">
				KA_DURATION_LONG_POINT_TWO,
			</if>
			<if test="kaDurationLongThree != null">
				KA_DURATION_LONG_THREE,
			</if>
			<if test="kaDurationLongPointThree != null">
				KA_DURATION_LONG_POINT_THREE,
			</if>
			<if test="kaDurationLongFour != null">
				KA_DURATION_LONG_FOUR,
			</if>
			<if test="kaDurationLongPointFour != null">
				KA_DURATION_LONG_POINT_FOUR,
			</if>
			<if test="kaDurationLongFive != null">
				KA_DURATION_LONG_FIVE,
			</if>
			<if test="kaDurationLongPointFive != null">
				KA_DURATION_LONG_POINT_FIVE,
			</if>
			<if test="kaDurationLongSix != null">
				KA_DURATION_LONG_SIX,
			</if>
			<if test="kaDurationLongPointSix != null">
				KA_DURATION_LONG_POINT_SIX,
			</if>
			<if test="kaDurationLongSeven != null">
				KA_DURATION_LONG_SEVEN,
			</if>
			<if test="kaDurationLongPointSeven != null">
				KA_DURATION_LONG_POINT_SEVEN,
			</if>
			<if test="kaDurationLongEight != null">
				KA_DURATION_LONG_EIGHT,
			</if>
			<if test="kaDurationLongPointEight != null">
				KA_DURATION_LONG_POINT_EIGHT,
			</if>
			<if test="kaDurationLongNine != null">
				KA_DURATION_LONG_NINE,
			</if>
			<if test="kaDurationLongPointNine != null">
				KA_DURATION_LONG_POINT_NINE,
			</if>
			<if test="kaDurationLongTen != null">
				KA_DURATION_LONG_TEN,
			</if>
			<if test="kaDurationLongPointTen != null">
				KA_DURATION_LONG_POINT_TEN,
			</if>
			<if test="videoTotalTime != null">
				VIDEO_TOTAL_TIME,
			</if>
			<if test="videoPlayTotalTime != null">
				VIDEO_PLAY_TOTAL_TIME,
			</if>
			<if test="videoAllPeakRate != null">
				VIDEO_ALL_PEAK_RATE,
			</if>
			<if test="videoAveragePeakRate != null">
				VIDEO_AVERAGE_PEAK_RATE,
			</if>
			<if test="lightIntensity != null">
				LIGHT_INTENSITY,
			</if>
			<if test="phoneScreenBrightness != null">
				PHONE_SCREEN_BRIGHTNESS,
			</if>
			<if test="phonePlaceState != null">
				PHONE_PLACE_STATE,
			</if>
			<if test="environmentalNoise != null">
				ENVIRONMENTAL_NOISE,
			</if>
			<if test="networkType != null">
				NETWORK_TYPE,
			</if>
			<if test="phoneElectricStart != null">
				PHONE_ELECTRIC_START,
			</if>
			<if test="phoneElectricEnd != null">
				PHONE_ELECTRIC_END,
			</if>
			<if test="signalStrength != null">
				SIGNAL_STRENGTH,
			</if>
			<if test="phoneVersion != null">
				PHONE_VERSION,
			</if>
			<if test="operatingSystem != null">
				OPERATING_SYSTEM,
			</if>
			<if test="gpsLongitudeOne != null">
				GPS_LONGITUDE_ONE,
			</if>
			<if test="gpsLatitudeOne != null">
				GPS_LATITUDE_ONE,
			</if>
			<if test="gpsLongitudeTwo != null">
				GPS_LONGITUDE_TWO,
			</if>
			<if test="gpsLatitudeTwo != null">
				GPS_LATITUDE_TWO,
			</if>
			<if test="gpsLongitudeThree != null">
				GPS_LONGITUDE_THREE,
			</if>
			<if test="gpsLatitudeThree != null">
				GPS_LATITUDE_THREE,
			</if>
			<if test="gpsLongitudeFour != null">
				GPS_LONGITUDE_FOUR,
			</if>
			<if test="gpsLatitudeFour != null">
				GPS_LATITUDE_FOUR,
			</if>
			<if test="gpsLongitudeFive != null">
				GPS_LONGITUDE_FIVE,
			</if>
			<if test="gpsLatitudeFive != null">
				GPS_LATITUDE_FIVE,
			</if>
			<if test="accelerometerData != null">
				ACCELEROMETER_DATA,
			</if>
			<if test="instanDownloadSpeed != null">
				INSTAN_DOWNLOAD_SPEED,
			</if>
			<if test="userScore != null">
				USER_SCORE,
			</if>
			<if test="saveDate != null">
				SAVEDATE,
			</if>
			<if test="userTel != null">
				USER_TEL,
			</if>
			<if test="Eloading != null">
				ELOADING,
			</if>
			<if test="Estalling != null">
				ESTALLING,
			</if>
			<if test="EvMos != null">
				EVMOS,
			</if>
			<if test="cid != null">
				CID,
			</if>
			<if test="lac != null">
				LAC,
			</if>
			<if test="userScene != null">
				USERSCENE,
			</if>
			<if test="videoServerIp != null">
				VIDEO_SERVER_IP,
			</if>
			<if test="videoServerLocation != null">
				VIDEO_SERVER_LOCATION,
			</if>
			<if test="country != null">
				COUNTRY,
			</if>
			<if test="province != null">
				PROVINCE,
			</if>
			<if test="city != null">
				CITY,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="ueInternalIp != null">
				UE_INTERNAL_IP,
			</if>
			<if test="elight != null">
				ELIGHT,
			</if>
			<if test="estate != null">
				ESTATE,
			</if>
			<if test="plmn != null">
				PLMN,
			</if>
			<if test="imsi != null">
				IMSI,
			</if>
			<if test="udid != null">
				UDID,
			</if>
			<if test="mcc != null">
				MCC,
			</if>
			<if test="mnc != null">
				MNC,
			</if>
			<if test="cellSignalStrength != null">
				CELL_SIGNAL_STRENGTH,
			</if>
			<if test="sinr != null">
				SINR,
			</if>
			<if test="pingAvgRtt != null">
				PING_AVG_RTT,
			</if>
			<if test="carrier != null">
				CARRIER,
			</if>
			<if test="lcid != null">
				LCID,
			</if>
			<if test="enodebId != null">
				ENODEB_ID,
			</if>
			<if test="playWay != null">
				PLAY_WAY,
			</if>
			<if test="startTime != null">
				STARTTIME,
			</if>
			<if test="videoSize != null">
				VIDEOSIZE,
			</if>
			<if test="videoName != null">
				VIDEONAME,
			</if>
			<if test="userBufferTime != null">
				USERBUFFERTIME,
			</if>
			<if test="scoreSuggest != null">
				SCORESUGGEST,
			</if>
			<if test="display != null">
				DISPLAY,
			</if>
			<if test="forecastScore != null">
				FORECASTSCORE,
			</if>
			<if test="networkStatus != null">
				NETWORKSTATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="daId != null">
				#{daId,jdbcType=VARCHAR},
			</if>
			<if test="screenResolutionLong != null">
				#{screenResolutionLong,jdbcType=VARCHAR},
			</if>
			<if test="screenResolutionWidth != null">
				#{screenResolutionWidth,jdbcType=VARCHAR},
			</if>
			<if test="videoClarity != null">
				#{videoClarity,jdbcType=VARCHAR},
			</if>
			<if test="videoCodingFormat != null">
				#{videoCodingFormat,jdbcType=VARCHAR},
			</if>
			<if test="videoBitrate != null">
				#{videoBitrate,jdbcType=VARCHAR},
			</if>
			<if test="bufferingDelay != null">
				#{bufferingDelay,jdbcType=VARCHAR},
			</if>
			<if test="videoPeakRate != null">
				#{videoPeakRate,jdbcType=VARCHAR},
			</if>
			<if test="videoKaNum != null">
				#{videoKaNum,jdbcType=VARCHAR},
			</if>
			<if test="videoKaTotalTime != null">
				#{videoKaTotalTime,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationProportion != null">
				#{kaDurationProportion,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongOne != null">
				#{kaDurationLongOne,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointOne != null">
				#{kaDurationLongPointOne,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongTwo != null">
				#{kaDurationLongTwo,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointTwo != null">
				#{kaDurationLongPointTwo,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongThree != null">
				#{kaDurationLongThree,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointThree != null">
				#{kaDurationLongPointThree,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongFour != null">
				#{kaDurationLongFour,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointFour != null">
				#{kaDurationLongPointFour,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongFive != null">
				#{kaDurationLongFive,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointFive != null">
				#{kaDurationLongPointFive,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongSix != null">
				#{kaDurationLongSix,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointSix != null">
				#{kaDurationLongPointSix,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongSeven != null">
				#{kaDurationLongSeven,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointSeven != null">
				#{kaDurationLongPointSeven,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongEight != null">
				#{kaDurationLongEight,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointEight != null">
				#{kaDurationLongPointEight,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongNine != null">
				#{kaDurationLongNine,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointNine != null">
				#{kaDurationLongPointNine,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongTen != null">
				#{kaDurationLongTen,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointTen != null">
				#{kaDurationLongPointTen,jdbcType=VARCHAR},
			</if>
			<if test="videoTotalTime != null">
				#{videoTotalTime,jdbcType=VARCHAR},
			</if>
			<if test="videoPlayTotalTime != null">
				#{videoPlayTotalTime,jdbcType=VARCHAR},
			</if>
			<if test="videoAllPeakRate != null">
				#{videoAllPeakRate,jdbcType=VARCHAR},
			</if>
			<if test="videoAveragePeakRate != null">
				#{videoAveragePeakRate,jdbcType=VARCHAR},
			</if>
			<if test="lightIntensity != null">
				#{lightIntensity,jdbcType=VARCHAR},
			</if>
			<if test="phoneScreenBrightness != null">
				#{phoneScreenBrightness,jdbcType=VARCHAR},
			</if>
			<if test="phonePlaceState != null">
				#{phonePlaceState,jdbcType=VARCHAR},
			</if>
			<if test="environmentalNoise != null">
				#{environmentalNoise,jdbcType=VARCHAR},
			</if>
			<if test="networkType != null">
				#{networkType,jdbcType=VARCHAR},
			</if>
			<if test="phoneElectricStart != null">
				#{phoneElectricStart,jdbcType=VARCHAR},
			</if>
			<if test="phoneElectricEnd != null">
				#{phoneElectricEnd,jdbcType=VARCHAR},
			</if>
			<if test="signalStrength != null">
				#{signalStrength,jdbcType=VARCHAR},
			</if>
			<if test="phoneVersion != null">
				#{phoneVersion,jdbcType=VARCHAR},
			</if>
			<if test="operatingSystem != null">
				#{operatingSystem,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeOne != null">
				#{gpsLongitudeOne,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeOne != null">
				#{gpsLatitudeOne,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeTwo != null">
				#{gpsLongitudeTwo,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeTwo != null">
				#{gpsLatitudeTwo,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeThree != null">
				#{gpsLongitudeThree,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeThree != null">
				#{gpsLatitudeThree,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeFour != null">
				#{gpsLongitudeFour,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeFour != null">
				#{gpsLatitudeFour,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeFive != null">
				#{gpsLongitudeFive,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeFive != null">
				#{gpsLatitudeFive,jdbcType=VARCHAR},
			</if>
			<if test="accelerometerData != null">
				#{accelerometerData,jdbcType=VARCHAR},
			</if>
			<if test="instanDownloadSpeed != null">
				#{instanDownloadSpeed,jdbcType=VARCHAR},
			</if>
			<if test="userScore != null">
				#{userScore,jdbcType=VARCHAR},
			</if>
			<if test="saveDate != null">
				#{saveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userTel != null">
				#{userTel,jdbcType=VARCHAR},
			</if>
			<if test="Eloading != null">
				#{Eloading,jdbcType=VARCHAR},
			</if>
			<if test="Estalling != null">
				#{Estalling,jdbcType=VARCHAR},
			</if>
			<if test="EvMos != null">
				#{EvMos,jdbcType=VARCHAR},
			</if>
			<if test="cid != null">
				#{cid,jdbcType=VARCHAR},
			</if>
			<if test="lac != null">
				#{lac,jdbcType=VARCHAR},
			</if>
			<if test="userScene != null">
				#{userScene,jdbcType=VARCHAR},
			</if>
			<if test="videoServerIp != null">
				#{videoServerIp,jdbcType=VARCHAR},
			</if>
			<if test="videoServerLocation != null">
				#{videoServerLocation,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="ueInternalIp != null">
				#{ueInternalIp,jdbcType=VARCHAR},
			</if>
			<if test="elight != null">
				#{elight,jdbcType=VARCHAR},
			</if>
			<if test="estate != null">
				#{estate,jdbcType=VARCHAR},
			</if>
			<if test="plmn != null">
				#{plmn,jdbcType=VARCHAR},
			</if>
			<if test="imsi != null">
				#{imsi,jdbcType=VARCHAR},
			</if>
			<if test="udid != null">
				#{udid,jdbcType=VARCHAR},
			</if>
			<if test="mcc != null">
				#{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mnc != null">
				#{mnc,jdbcType=VARCHAR},
			</if>
			<if test="cellSignalStrength != null">
				#{cellSignalStrength,jdbcType=VARCHAR},
			</if>
			<if test="sinr != null">
				#{sinr,jdbcType=VARCHAR},
			</if>
			<if test="pingAvgRtt != null">
				#{pingAvgRtt,jdbcType=VARCHAR},
			</if>
			<if test="carrier != null">
				#{carrier,jdbcType=VARCHAR},
			</if>
			<if test="lcid != null">
				#{lcid,jdbcType=VARCHAR},
			</if>
			<if test="enodebId != null">
				#{enodebId,jdbcType=VARCHAR},
			</if>
			<if test="playWay != null">
				#{playWay,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="videoSize != null">
				#{videoSize,jdbcType=VARCHAR},
			</if>
			<if test="videoName != null">
				#{videoName,jdbcType=VARCHAR},
			</if>
			<if test="userBufferTime != null">
				#{userBufferTime,jdbcType=VARCHAR},
			</if>
			<if test="scoreSuggest != null">
				#{scoreSuggest,jdbcType=VARCHAR},
			</if>
			<if test="display != null">
				#{display,jdbcType=VARCHAR}
			</if>
			<if test="forecastScore != null">
				#{forecastScore,jdbcType=VARCHAR}
			</if>
			<if test="networkStatus != null">
				#{networkStatus,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tsinghua.analysis.model.DataAnalysis">
		update DATAANALYSIS
		<set>
			<if test="screenResolutionLong != null">
				SCREEN_RESOLUTION_LONG =
				#{screenResolutionLong,jdbcType=VARCHAR},
			</if>
			<if test="screenResolutionWidth != null">
				SCREEN_RESOLUTION_WIDTH =
				#{screenResolutionWidth,jdbcType=VARCHAR},
			</if>
			<if test="videoClarity != null">
				VIDEO_CLARITY = #{videoClarity,jdbcType=VARCHAR},
			</if>
			<if test="videoCodingFormat != null">
				VIDEO_CODING_FORMAT =
				#{videoCodingFormat,jdbcType=VARCHAR},
			</if>
			<if test="videoBitrate != null">
				VIDEO_BITRATE = #{videoBitrate,jdbcType=VARCHAR},
			</if>
			<if test="bufferingDelay != null">
				BUFFERING_DELAY = #{bufferingDelay,jdbcType=VARCHAR},
			</if>
			<if test="videoPeakRate != null">
				VIDEO_PEAK_RATE = #{videoPeakRate,jdbcType=VARCHAR},
			</if>
			<if test="videoKaNum != null">
				VIDEO_KA_NUM = #{videoKaNum,jdbcType=VARCHAR},
			</if>
			<if test="videoKaTotalTime != null">
				VIDEO_KA_TOTAL_TIME =
				#{videoKaTotalTime,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationProportion != null">
				KA_DURATION_PROPORTION =
				#{kaDurationProportion,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongOne != null">
				KA_DURATION_LONG_ONE =
				#{kaDurationLongOne,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointOne != null">
				KA_DURATION_LONG_POINT_ONE =
				#{kaDurationLongPointOne,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongTwo != null">
				KA_DURATION_LONG_TWO =
				#{kaDurationLongTwo,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointTwo != null">
				KA_DURATION_LONG_POINT_TWO =
				#{kaDurationLongPointTwo,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongThree != null">
				KA_DURATION_LONG_THREE =
				#{kaDurationLongThree,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointThree != null">
				KA_DURATION_LONG_POINT_THREE =
				#{kaDurationLongPointThree,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongFour != null">
				KA_DURATION_LONG_FOUR =
				#{kaDurationLongFour,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointFour != null">
				KA_DURATION_LONG_POINT_FOUR =
				#{kaDurationLongPointFour,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongFive != null">
				KA_DURATION_LONG_FIVE =
				#{kaDurationLongFive,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointFive != null">
				KA_DURATION_LONG_POINT_FIVE =
				#{kaDurationLongPointFive,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongSix != null">
				KA_DURATION_LONG_SIX =
				#{kaDurationLongSix,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointSix != null">
				KA_DURATION_LONG_POINT_SIX =
				#{kaDurationLongPointSix,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongSeven != null">
				KA_DURATION_LONG_SEVEN =
				#{kaDurationLongSeven,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointSeven != null">
				KA_DURATION_LONG_POINT_SEVEN =
				#{kaDurationLongPointSeven,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongEight != null">
				KA_DURATION_LONG_EIGHT =
				#{kaDurationLongEight,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointEight != null">
				KA_DURATION_LONG_POINT_EIGHT =
				#{kaDurationLongPointEight,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongNine != null">
				KA_DURATION_LONG_NINE =
				#{kaDurationLongNine,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointNine != null">
				KA_DURATION_LONG_POINT_NINE =
				#{kaDurationLongPointNine,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongTen != null">
				KA_DURATION_LONG_TEN =
				#{kaDurationLongTen,jdbcType=VARCHAR},
			</if>
			<if test="kaDurationLongPointTen != null">
				KA_DURATION_LONG_POINT_TEN =
				#{kaDurationLongPointTen,jdbcType=VARCHAR},
			</if>
			<if test="videoTotalTime != null">
				VIDEO_TOTAL_TIME = #{videoTotalTime,jdbcType=VARCHAR},
			</if>
			<if test="videoPlayTotalTime != null">
				VIDEO_PLAY_TOTAL_TIME =
				#{videoPlayTotalTime,jdbcType=VARCHAR},
			</if>
			<if test="videoAllPeakRate != null">
				VIDEO_ALL_PEAK_RATE =
				#{videoAllPeakRate,jdbcType=VARCHAR},
			</if>
			<if test="videoAveragePeakRate != null">
				VIDEO_AVERAGE_PEAK_RATE =
				#{videoAveragePeakRate,jdbcType=VARCHAR},
			</if>
			<if test="lightIntensity != null">
				LIGHT_INTENSITY = #{lightIntensity,jdbcType=VARCHAR},
			</if>
			<if test="phoneScreenBrightness != null">
				PHONE_SCREEN_BRIGHTNESS =
				#{phoneScreenBrightness,jdbcType=VARCHAR},
			</if>
			<if test="phonePlaceState != null">
				PHONE_PLACE_STATE = #{phonePlaceState,jdbcType=VARCHAR},
			</if>
			<if test="environmentalNoise != null">
				ENVIRONMENTAL_NOISE =
				#{environmentalNoise,jdbcType=VARCHAR},
			</if>
			<if test="networkType != null">
				NETWORK_TYPE = #{networkType,jdbcType=VARCHAR},
			</if>
			<if test="phoneElectricStart != null">
				PHONE_ELECTRIC_START =
				#{phoneElectricStart,jdbcType=VARCHAR},
			</if>
			<if test="phoneElectricEnd != null">
				PHONE_ELECTRIC_END =
				#{phoneElectricEnd,jdbcType=VARCHAR},
			</if>
			<if test="signalStrength != null">
				SIGNAL_STRENGTH = #{signalStrength,jdbcType=VARCHAR},
			</if>
			<if test="phoneVersion != null">
				PHONE_VERSION = #{phoneVersion,jdbcType=VARCHAR},
			</if>
			<if test="operatingSystem != null">
				OPERATING_SYSTEM = #{operatingSystem,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeOne != null">
				GPS_LONGITUDE_ONE = #{gpsLongitudeOne,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeOne != null">
				GPS_LATITUDE_ONE = #{gpsLatitudeOne,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeTwo != null">
				GPS_LONGITUDE_TWO = #{gpsLongitudeTwo,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeTwo != null">
				GPS_LATITUDE_TWO = #{gpsLatitudeTwo,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeThree != null">
				GPS_LONGITUDE_THREE =
				#{gpsLongitudeThree,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeThree != null">
				GPS_LATITUDE_THREE =
				#{gpsLatitudeThree,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeFour != null">
				GPS_LONGITUDE_FOUR =
				#{gpsLongitudeFour,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeFour != null">
				GPS_LATITUDE_FOUR = #{gpsLatitudeFour,jdbcType=VARCHAR},
			</if>
			<if test="gpsLongitudeFive != null">
				GPS_LONGITUDE_FIVE =
				#{gpsLongitudeFive,jdbcType=VARCHAR},
			</if>
			<if test="gpsLatitudeFive != null">
				GPS_LATITUDE_FIVE = #{gpsLatitudeFive,jdbcType=VARCHAR},
			</if>
			<if test="accelerometerData != null">
				ACCELEROMETER_DATA =
				#{accelerometerData,jdbcType=VARCHAR},
			</if>
			<if test="instanDownloadSpeed != null">
				INSTAN_DOWNLOAD_SPEED =
				#{instanDownloadSpeed,jdbcType=VARCHAR},
			</if>
			<if test="userScore != null">
				USER_SCORE = #{userScore,jdbcType=VARCHAR},
			</if>
			<if test="saveDate != null">
				SAVEDATE = #{saveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="userTel != null">
				USER_TEL = #{userTel,jdbcType=VARCHAR},
			</if>
			<if test="Eloading != null">
				ELOADING = #{Eloading,jdbcType=VARCHAR},
			</if>
			<if test="Estalling != null">
				ESTALLING = #{Estalling,jdbcType=VARCHAR},
			</if>
			<if test="EvMos != null">
				EVMOS = #{EvMos,jdbcType=VARCHAR},
			</if>
			<if test="cid != null">
				CID = #{cid,jdbcType=VARCHAR},
			</if>
			<if test="lac != null">
				LAC = #{lac,jdbcType=VARCHAR},
			</if>
			<if test="userScene != null">
				USERSCENE = #{userScene,jdbcType=VARCHAR},
			</if>
			<if test="videoServerIp != null">
				VIDEO_SERVER_IP = #{videoServerIp,jdbcType=VARCHAR},
			</if>
			<if test="videoServerLocation != null">
				VIDEO_SERVER_LOCATION =
				#{videoServerLocation,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				COUNTRY = #{country,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				PROVINCE = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				CITY = #{city,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="ueInternalIp != null">
				UE_INTERNAL_IP = #{ueInternalIp,jdbcType=VARCHAR},
			</if>
			<if test="elight != null">
				ELIGHT = #{elight,jdbcType=VARCHAR},
			</if>
			<if test="estate != null">
				ESTATE = #{estate,jdbcType=VARCHAR},
			</if>
			<if test="plmn != null">
				PLMN = #{plmn,jdbcType=VARCHAR},
			</if>
			<if test="imsi != null">
				IMSI = #{imsi,jdbcType=VARCHAR},
			</if>
			<if test="udid != null">
				UDID = #{udid,jdbcType=VARCHAR},
			</if>
			<if test="mcc != null">
				MCC = #{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mnc != null">
				MNC = #{mnc,jdbcType=VARCHAR},
			</if>
			<if test="cellSignalStrength != null">
				CELL_SIGNAL_STRENGTH =
				#{cellSignalStrength,jdbcType=VARCHAR},
			</if>
			<if test="sinr != null">
				SINR = #{sinr,jdbcType=VARCHAR},
			</if>
			<if test="pingAvgRtt != null">
				PING_AVG_RTT = #{pingAvgRtt,jdbcType=VARCHAR},
			</if>
			<if test="carrier != null">
				CARRIER = #{carrier,jdbcType=VARCHAR},
			</if>
			<if test="lcid != null">
				LCID = #{lcid,jdbcType=VARCHAR},
			</if>
			<if test="enodebId != null">
				ENODEB_ID = #{enodebId,jdbcType=VARCHAR},
			</if>
			<if test="playWay != null">
				PLAY_WAY = #{playWay,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				STARTTIME = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="videoSize != null">
				VIDEOSIZE = #{videoSize,jdbcType=VARCHAR},
			</if>
			<if test="videoName != null">
				VIDEONAME = #{videoName,jdbcType=VARCHAR},
			</if>
			<if test="userBufferTime != null">
				USERBUFFERTIME = #{userBufferTime,jdbcType=VARCHAR},
			</if>
			<if test="scoreSuggest != null">
				SCORESUGGEST = #{scoreSuggest,jdbcType=VARCHAR},
			</if>
			<if test="display != null">
				DISPLAY = #{display,jdbcType=VARCHAR},
			</if>
			<if test="forecastScore != null">
				FORECASTSCORE = #{forecastScore,jdbcType=VARCHAR},
			</if>
			<if test="networkStatus != null">
				NETWORKSTATUS = #{networkStatus,jdbcType=VARCHAR},
			</if>
		</set>
		where DA_ID = #{daId,jdbcType=VARCHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from DATAANALYSIS
		where DA_ID =
		#{daId,jdbcType=VARCHAR}
	</select>
	<select id="selectRecord" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select DA_ID,STARTTIME,FORECASTSCORE from DATAANALYSIS where DISPLAY =
		'1' and
		<if test="udid != null">UDID = #{udid,jdbcType=VARCHAR}</if>
		<if test="imsi != null">IMSI = #{imsi,jdbcType=VARCHAR}</if>
	</select>
</mapper>